@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: slategray;
}
#header-top{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px ;

}

.logo{
    margin: 10px 10px 0px 30px;
    max-width: 100%;
    height: auto;   
    display: flex;
    justify-content: flex-start;
}

body p{
    font-size: 5px;
}

.logo h1{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    flex: 0.1;

}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-bot{
    /*
    background-image: url(../images/wallpaperflare.com_wallpaper.jpg);
    */
    margin: 30px 0px;
    padding: 30px 30px 100px 30px;
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
}

.desc h2{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.desc p{
    font-size: 18px;
    color: #E5E7EB;
}

.desc{
    display: flex;
    flex-direction: column;
    width: 400px;

}

.desc-img{
    border-radius: 50px;
    max-width: 85vw;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
   
}

button {
    width: 180px;
    background-color: #1F2937;
    color: white;
    font-weight: 900;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px 5px;
    border: 2px solid #3882F6;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #3882F6;
    color: white;
}





