@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', "Courier New", Courier, monospace;
}

#header-top{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px ;
    margin: 0px 
}

.logo{
    margin: 10px 10px 0px 30px;
    max-width: 100%;
    height: auto;   
    display: flex;
    justify-content: flex-start;
}

.logo h1{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    flex: 0.1;

}

.icon img{
    width: 50px; 
    height:50px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-bot{
    /*
    background-image: url(../images/wallpaperflare.com_wallpaper.jpg);
    */
    margin: 30px 0px;
    padding: 30px 30px 100px 30px;
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    margin: 0px;
}

.desc h2{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.desc p{
    font-size: 18px;
    color: #E5E7EB;
}

.desc{
    display: flex;
    flex-direction: column;
    width: 400px;

}

.header-img img{
    width: 730px; 
    height: auto;
    border-radius: 50px;
    max-width: 85vw;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
   
}

button {
    width: 180px;
    background-color: #1F2937;
    color: white;
    font-weight: 900;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px 5px;
    border: 2px solid #3882F6;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #3882F6;
    color: white;
}






.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.information h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 80px;  
}

.dept{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

    /*
    position: relative;
    width: 50%;
    */
}

.all-dept{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

.dept img{
    width: 250px;
    height: 150px;

    /*
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    */
}
.dept p{
    width: 200px;
    text-align: center;
    font-size: 18px;
    color: #4c4e52;

}


.text {
    background-color: #3882F6;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 20px;
    text-align: center;
}







.quotes {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 120px;

}

#quote-text {
    font-size: 36px;
    font-style:italic;
    font-weight: 200px;
    color: #696969;
    width: 800px;
}

#author {
    font-size: 15px;
    display: flex;
    font-weight: bold;
    align-self: flex-end;
}

/*
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.dept:hover .dept img {
    opacity:0.3;
}

.dept:hover .middle {
    opacity: 1;
}
*/
/*
.middle{

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
*/

